.testScrollDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.img{
    width: 70%;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
    margin-top: 20px;
}
.img:active{
    transform: translateY(4px);
}
.headDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkblue;
    color: white;
}
.headImgDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.arrowUp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    color: rgb(96, 96, 96);
    transition: all 1s;
}
.arrowOffScreen{
    position: fixed;
    bottom: 40px;
    right: -70px;
    cursor: pointer;
    transition: all 1s;
}
@media screen and (max-width: 800px) {
    .arrowUp{
        right: 5px;
    }
}
